@import 'common_design.scss';


.block{
  width: -moz-available;
  width: -webkit-fill-available;
}

footer, header{
    @media #{$desktop}, #{$tablet}{
        @include wideblock;
    }
    text-align: center;
}

header{
    padding-bottom: $gap;
}

footer, .block{
    padding-top: $gap;
    padding-bottom: $gap;

    > p{
        padding: 0px;
        margin: 0px;
    }
}

*{
  font-family: 'Ubuntu', sans-serif;
}

@mixin font-size($font-size){
    font-size: $font-size;
}
body{
    @media #{$desktop}{
        @include font-size(16px);
    }
    @media #{$tablet}{
        @include font-size(21px);
    }
    @media #{$mobile}{
        @include font-size(20px);
    }
}

$border : 2px dotted black;
header{
  border-bottom: $border;
}

footer{
  border-top : $border;
}

header h1{
  @media #{$desktop}{
      font-size:3em; 
  }
  @media #{$tablet}{
      font-size:2em; 
  }
  @media #{$mobile}{
      font-size:1.61em; 
  }
  margin-bottom:2px;
}

header .subtitle{
  margin:0px;
  font-style: italic;
}

body{
  transition-property: background-color;
  transition-duration:300ms;
  
  //Tie in with the video module
  &.video_only{
      background-color: $background-color-video-on;

      @media #{$mobile}{
          header p, header h1, > div, > footer{
              display: none;
          }
      }
  }

}

footer p#github_info{
    margin-bottom: $gap/2;
}

footer p#mail{
    margin-bottom: $gap/4;
}

footer form{
    font-size: 0.8em;
    p{
        margin:0;
        margin-top: $gap/4;
        margin-bottom: $gap/4;
    }

    select, input{
        border:$background-color-video-on solid 1px;
        background: transparent;
    }
}
