{% load i18n %}
{% load staticfiles %}
{% load sass_tags %}
{% load google_analytics %}

<html>
  <head>
    <title>{% trans "Florent Pastor's meta-cv"%}</title>
    <meta name="author" content="{{name}}, a.k.a. Mister Tree"/>
    <meta name="description" content="I'm Florent Pastor, a web developer based on London. My Meta-CV allows you to discover my skills through its content and its code. A video presentation is also available. Enjoy!"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% sass_src 'themaintemplate/style.scss' %}" type="text/css"/>
    {% for filename in sass %}
    <link rel="stylesheet" href="{% sass_src filename %}" type="text/css"/>
    {%endfor%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% google_analytics %}
  </head>
  <body>
    <header>
        <h1>{{name}}{% trans "'s meta-cv"%}</h1>
        <p class="subtitle">{{age}} {% trans "years old, french developper."%}</p>
        {{html.video}}
    </header>
    {{html.cv}}
    <footer>
      <p id="github_info">This is a meta-cv, meaning its code is also design to show my skills.  Come and discover it on <a href="https://github.com/mistertree/meta-cv">GitHub !</a></p>
      <p id="mail"><span>E-mail address :</span>
      {% if mail %}
      <a href="mailto:{{mail}}"/>{{mail}}</a></p>
      {% else %}
      Fill up the following captcha to see my e-mail address.</p>
      <form action="" method="POST">
          <p>Select the correct letters from my first name :</p>
          {% csrf_token %}
          {% for field in form %}
              {{ field.label_tag }} {{ field }}
          {% endfor %}
          <input type="submit" value="Submit"/>
          {% if form.errors %}
          <p>Something is wrong. Check your answers !</p>
          {% endif %}
      </form>
      {% endif %}
    </footer>
    {%for filename in dart %}
    <script type="application/dart" src="{% static filename %}"> </script>
    {% endfor %}
    <script type="text/javascript">
    if (navigator.userAgent.indexOf('(Dart)') === -1) {
        var scripts = document.getElementsByTagName("script");
        for(var i=0; i < scripts.length; i++){
            if (scripts[i].src && scripts[i].src != ''){
                var script = document.createElement('script');
                script.src = scripts[i].src.replace(/\.dart/, '.js');
                var parent = scripts[i].parentNode;
                parent.replaceChild(script, scripts[i]);
            }
        }
    }
    </script>
   </body>
</html> 
